
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
</head>
<body>

    <div class="jumbotron">
        <h1>Job Portal</h1>
        <p class="lead">Connect with great job opportunities.</p>
        <p>
            <a href="/LogIn/LoginLoad" class="btn-primary">Login</a>
            <a href="/CompanyIn/CompanyLoad" class="btn-primary">Company Registration</a>
            <a href="/UserIns/UserLoad" class="btn-primary">User Registration</a>
        </p>
    </div>

</body>
</html>
