
@{
    ViewBag.Title = "ApplyClick";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apply Status</h2>
<div>
    <label>Job Applied Successfully</label>
</div>

<div>
    @Html.ActionLink("Back to Job Search", "SearchLoad", "JobSearch", new { area = "" }, new { @class = "btn btn-primary" })
</div>

